# =========================
# VARIABLES DE ENTORNO
# =========================
.env
.env.*
!.env.example


# =========================
# ENTORNOS VIRTUALES
# =========================
.venv/
venv/
env/
ENV/


# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd


# =========================
# FASTAPI / UVICORN
# =========================
*.log


# =========================
# TESTING / COVERAGE
# =========================
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/


# =========================
# TYPE CHECKERS / LINTERS
# =========================
.mypy_cache/
.ruff_cache/
.pyright/


# =========================
# IDEs / EDITORES
# =========================
.vscode/
.idea/
*.swp
*.swo


# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db


# =========================
# BASES DE DATOS LOCALES
# =========================
*.sqlite
*.sqlite3